/* src/componentes/Card.css */

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: 10px;
    width: 370px;
    text-align: center;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    cursor: pointer; /* Cambia el cursor para indicar que se puede hacer clic */
}

.card.seleccionada {
    border-color: #007bff; /* Cambia el color del borde para cartas seleccionadas */
    background-color: #e6f2ff; /* Cambia el color de fondo para cartas seleccionadas */
}

.card-img {
    width: 180px;
    height: 250px; /* Corrige el tamaño de la imagen */
    padding: 15px;
}

.card-content {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.marca {
    font-weight: lighter;
    color: #777;
    margin-bottom: 5px;
}

.card-title {
    font-size: 16px;
    margin: 8px;
    font-weight: bold;
}

.card-stats {
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #777;
    margin: 5px 0;
}

.card-price {
    font-size: 14px;
    color: #333;
    margin: 15px 15px;
}

.card-button {
    display: inline-block;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    background-color: var(--color-bg);
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
}

.card-button:hover {
    background-color: #3b3d3f;
}

.card-select-btn {
    margin-top: 10px;
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    background-color: var(--color-bg);
    color: white;
    cursor: pointer;
}

.card-select-btn:hover {
    background-color: #3b3d3f;
}

/* Ajustes para pantallas más pequeñas (max-width: 768px) */
@media (max-width: 768px) {
    .card-img {
        width: 150px; /* Reduce el ancho de la imagen en pantallas pequeñas */
        height: auto; /* Ajusta la altura automáticamente según la proporción de la imagen */
    }
}

/* Ajustes específicos para dispositivos móviles muy pequeños (max-width: 480px) */
@media (max-width: 480px) {
    .card-img {
        width: 130px; /* Reduce aún más el ancho de la imagen en pantallas muy pequeñas */
        height: 240px; /* Ajusta la altura automáticamente según la proporción de la imagen */
    }
}
