/* src/componentes/Categorias.css */
.categorias {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    padding: 40px;
}

.categoria-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 400px;
    text-decoration: none;
    border-radius: 16px;
    box-shadow: 2px 2px 12px var(--color-dark-gray-border);
    transition: all 0.3s;
    padding: 8px;
}

.admin_option {
    height: 248px;
}

.categoria-item:hover {
    transform: scale(1.05);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
}

.admin_option_icon{
    font-size: 120px;
    color: var(--color-bg);
    text-decoration: none;
}

.admin_option_texto{
    font-size: 1.6em;
    color: var(--color-bg);
    text-decoration: none;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .categorias {
        gap: 20px;
    }
    
}