/* src/componentes/Paquete.css */
.paquete {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: 10px;
    width: 370px;
    height: 280px;
    text-align: center;
    background-color: #fff;
    display: flex;
    flex-direction: row;
}

.paquete-imagen {
    width: 180px;
    height: 250px;
    padding: 15px;
}

.paquete-nombre {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0.5rem 1rem;
}

.paquete-descripcion {
    font-size: 0.9rem;
    color: #555;
    margin: 0 1rem;
}

.paquete-precio {
    font-size: 1rem;
    color: #333;
    margin: 0.5rem 1rem;
}


.pack-content {
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.marca{
    font-weight:lighter;
    color: #777;
    margin-bottom: 5px;
}

.pack-button {
    display: inline-block;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    background-color: var(--color-bg);
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
}

.pack-button:hover {
    background-color: #3b3d3f;
}

/* Ajustes para pantallas más pequeñas (max-width: 768px) */
@media (max-width: 768px) {
    .paquete {
        width: 320px; /* Ajusta el ancho del paquete para pantallas más pequeñas */
        height: auto; /* Ajusta la altura automáticamente */
        margin-left: 0;
    }

    .paquete-imagen {
        width: 150px; /* Reduce el ancho de la imagen en pantallas pequeñas */
        height: auto; /* Ajusta la altura automáticamente según la proporción de la imagen */
        padding: 10px; /* Ajusta el padding */
    }
}

/* Ajustes específicos para dispositivos móviles muy pequeños (max-width: 480px) */
@media (max-width: 480px) {
    .paquete {
        width: 100%; /* Asegura que el paquete ocupe el ancho completo del contenedor */
        height: auto; /* Ajusta la altura automáticamente */
        margin-left: 0;
    }

    .paquete-imagen {
        width: 130px; /* Reduce aún más el ancho de la imagen en pantallas muy pequeñas */
        height: auto; /* Ajusta la altura automáticamente según la proporción de la imagen */
        padding: 5px; /* Ajusta el padding */
    }
}