.footer {
    background-color: var(--color-bg);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.redes {
    display: flex;
    justify-content: center;
    padding: 10px 0px 0px 0px;
    width: 300px;
    gap: 15px; /* Espacio entre las imágenes de redes sociales */
    margin-left: 10px;
}

.redes img {
    max-width: 50px; /* Ajusta el tamaño máximo de las imágenes de redes sociales */
}
.text{
    text-align: center;
}

.separator {
    width: 80%;
    border: 0;
    height: 2.5px;
    background: #ccc;
    margin: 20px 0;
}



.autor{
    margin-top: 20px;
    text-align: center;
}

@media (max-width: 768px) {
    .footer {
        font-size: 14px;
        flex-direction: column;
        gap:10px;
    }

    .logo{
        width: 100px;
    }

    .redes {
        width:100%;
        justify-content: center;
    }

    .redes img {
        max-width: 20px; /* Reduce el tamaño de las imágenes de redes sociales para dispositivos móviles */
    }
}
