.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-white);
    padding: 10px;
    flex-wrap: wrap; /* Permite que los elementos se ajusten al siguiente renglón si es necesario */
}

.header img {
    max-width: 100%;
    height: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.button-group-user{
    display: flex;
    align-items: center;
    gap: 1em;
    margin-right: 20px;
}

.nav-link img {
    height: 60px;
}

.button-group {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-left: auto; /* Alinea el grupo de botones a la derecha del logo */
}

.button-group .nav-link img {
    height: 30px;
}

.login-button {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 0.25em;
}

.login-button p {
    height: fit-content;
    margin: 0;
    text-decoration: none;
    color: #000;
    font-size: 0.9em;
    text-align: center;
    font-weight: 700;
    position: relative;
}

.login-button p::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: -0.5px;
    left: 0;
    transform: scaleX(0);
    box-shadow:
        0 4px 0 #000;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

.login-button:hover p::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

@media screen and (max-width: 768px) {
    .header {
        flex-direction: row;
        align-items: center;
        padding: 5px;
    }

    .header img {
        height: 40px;
    }

    .button-group {
        display: flex; 
        align-items: center;
        gap: 1em;
        margin: auto; /* Mantiene los botones a la derecha del logo */
    }

    .button-group-user{
        gap: 1em;
        margin-right: 0px;
    }

    .nav-link img {
        height: 40px;
    }

    .button-group .nav-link img {
        height: 25px;
        margin: auto;
    }

    .search-bar {
        width: 100%; /* Asegura que la barra de búsqueda ocupe todo el ancho */
        margin-top: 10px; /* Añadir un margen superior para separar de los botones */
        order: 1; /* Asegura que la barra de búsqueda aparezca debajo del logo y botones */
    }
}
