.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-white);
    padding: 10px;
    flex-wrap: wrap; /* Permite que los elementos se ajusten al siguiente renglón si es necesario */
}

.header img {
    max-width: 100%;
    height: auto;
}

.nav-link img {
    height: 60px;
}

.button-group {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-left: auto; /* Alinea el grupo de botones a la derecha del logo */
}

.button-group .nav-link img {
    height: 30px;
    margin-left: 15px;
}

@media screen and (max-width: 768px) {
    .header {
        flex-direction: row;
        align-items: center;
        padding: 5px;
    }

    .header img {
        height: 40px;
    }

    .button-group {
        display: flex; 
        align-items: center;
        gap: 0.5em;
        margin-left: auto; /* Mantiene los botones a la derecha del logo */
    }

    .nav-link img {
        height: 40px;
    }

    .button-group .nav-link img {
        height: 25px;
        margin-left: 5px;
    }

    .search-bar {
        width: 100%; /* Asegura que la barra de búsqueda ocupe todo el ancho */
        margin-top: 10px; /* Añadir un margen superior para separar de los botones */
        order: 1; /* Asegura que la barra de búsqueda aparezca debajo del logo y botones */
    }
}
