/* src/componentes/Filtro.css */
.filtro {
    max-width: 300px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 30px;
}

.filtros-aplicados {
    margin-bottom: 20px;
}

.filtro-aplicado {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
}

.filtro-aplicado button {
    border: none;
    background: transparent;
    color: red;
    cursor: pointer;
}
.separator-line {
    width: 100%;
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 0;
}

.maxmin{
    display: flex;
}

.filtro-seccion {
    margin-bottom: 20px;
}

.filtro-seccion h3 {
    font-size: 15px;
    margin-bottom: 10px;
}

.filtro-seccion input[type="number"] {
    font-size: 12px;
    width: 100px;
    height: 30px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.filtro-checkbox {
    margin-bottom: 10px;
    font-size: 13px;
}

.filtro-checkbox input {
    margin-right: 5px;
}
