.banner {
    width: 100%;
    margin: 0px;
    height: 50vh;
    background-color: #f9f9f9;
}

.banner img{
    width: 100%;
    margin: 0px;
    height: 100%;
}

@media screen and (max-width: 768px) {
    .banner {
        height: 30vh;
    }
    
}