/* Mobile filter button */
.mobile-filter-button {
    display: none;
    cursor: pointer;
    background-color: #282828;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
    border-radius: 5px;
}

/* Estilos generales para asegurar el 100% de ancho en pantallas pequeñas */
.header, .filtrar-cartas, .cartas-container {
    width: 100%;
    box-sizing: border-box;
}

.fondo {
    background-color: #f9f9f9;
    padding: 10px;
}

.no-cartas {
    text-align: center;
    color: #555;
    font-size: 28px;
    margin-top: 35px;
}

/* Para mantener el diseño responsivo */
@media (max-width: 768px) {
    /* Show mobile filter button */
    .mobile-filter-button {
        display: block;
    }

    /* Hide filter container */
    .filtro-container {
        display: none;
    }

    /* Modal styling for mobile */
    .filtro-modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        box-sizing: border-box;
    }

    .modal-content {
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        max-width: 90%; /* Adjusted to fit better on mobile screens */
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        height: 80%; /* Ajusta la altura del modal para que no ocupe toda la pantalla */
        overflow-y: auto; /* Habilita la barra de desplazamiento vertical */
        box-sizing: border-box;
    }

    .close-modal {
        background-color: #282828;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 16px;
        margin: auto;
        display: block;
        text-align: center;
        border-radius: 5px;
        margin-top: 20px; /* Añade espacio adicional debajo de los filtros */
    }
}

/* Estilos adicionales para pantallas pequeñas */
@media (max-width: 768px) {
    .header, .filtrar-cartas, .cartas-container {
        padding: 10px;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .cartas-container {
        padding: 10px; /* Ajusta el padding para adaptarse a pantallas más pequeñas */
        box-sizing: border-box; /* Asegura que el padding no aumente el tamaño total */
    }

    .cartas-container .card {
        width: 100%; /* Asegura que las tarjetas ocupen el ancho completo del contenedor */
        margin-bottom: 10px; /* Añade un espacio entre las tarjetas */
    }

    .mobile-filter-button {
        font-size: 16px; /* Ajusta el tamaño del texto del botón para pantallas pequeñas */
        padding: 8px; /* Ajusta el padding del botón */
    }
}
