.lista-usuarios-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow-x: auto; /* Permite el desplazamiento horizontal si el contenido es más ancho que el contenedor */
}

.lista-usuarios-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.usuarios-tabla {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}

.usuarios-tabla th,
.usuarios-tabla td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

.usuarios-tabla th {
    background-color: #282828;
    color: white;
}

.icono-editar,
.icono-eliminar {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: 0 5px;
    transition: transform 0.2s ease;
}

.select-rol {
    padding: 5px;
    font-size: 14px;
    width: 100%;
    color:#282828;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.icono-editar:hover,
.icono-eliminar:hover {
    transform: scale(1.1);
}

input[type="text"] {
    padding: 5px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #282828;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.icono-editar, .icono-eliminar {
    font-size: 1.2rem; /* Tamaño de los íconos */
    color: #555; /* Color de los íconos */
    cursor: pointer;
    background: none;
    border: none;
    margin: 0 5px;
}

.icono-editar:hover, .icono-eliminar:hover {
    color: #007bff; /* Cambiar el color al pasar el mouse */
}

@media  (max-width: 410px) {
    .lista-usuarios-container{
        padding: 0px;
    }
}