.fondo{
    background-color: #f9f9f9;
}
.fondo h1{
    margin: 0;
    text-align: center;
    font-size: 40px;
    padding: 60px;
}


.filtrar-paquetes {
    display: flex;
    gap: 20px; /* Espacio entre el filtro y las cartas */
    background-color: #f9f9f9;
}

.filtro-container {
    flex: 1;
    margin-left: 30px;
    max-width: 300px; /* Ajusta el ancho máximo del filtro si es necesario */
}

.paquetes-container {
    margin-left: 80px;
    flex: 4;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}