.fondo{
    background-color: #f9f9f9;
}
.fondo h1{
    margin: 0;
    text-align: center;
    font-size: 40px;
    padding: 60px;
}


.filtrar-paquetes {
    display: flex;
    gap: 20px; /* Espacio entre el filtro y las cartas */
    background-color: #f9f9f9;
}

.filtro-container {
    flex: 1;
    margin-left: 30px;
    max-width: 300px; /* Ajusta el ancho máximo del filtro si es necesario */
}

.paquetes-container {
    margin-left: 0px;
    flex: 4;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    background-color: #f4f4f4;
}

/* src/componentes/Paquete.css */


/* Mobile filter button */
.mobile-filter-button {
    display: none;
    cursor: pointer;
    background-color: #282828;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
    border-radius: 5px;
}

/* Mobile View (768px y menor) */
@media (max-width: 768px) {
    /* Show mobile filter button */
    .mobile-filter-button {
        display: block;
    }

    /* Hide filter container */
    .filtro-container {
        display: none;
    }

    /* Modal styling for mobile */
    .filtro-modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modal-content {
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        max-width: 90%;
        width: 90%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .close-modal {
        background-color: #282828;
        color: white;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
        font-size: 16px;
        float: right;
        margin-bottom: 10px;
    }

    .filtro-container,
    .modal-content {
        box-sizing: border-box;
    }
}

/* iPhone SE y pantallas pequeñas (max-width: 480px) */
@media (max-width: 480px) {
    .paquetes-container {
        padding: 10px; /* Ajusta el padding para adaptarse a pantallas más pequeñas */
        box-sizing: border-box; /* Asegura que el padding no aumente el tamaño total */
        margin-left: 0;
    }

    .paquetes-container .paquete {
        width: 100%; /* Asegura que los paquetes ocupen el ancho completo del contenedor */
        margin-bottom: 10px; /* Añade un espacio entre los paquetes */
    }

    .mobile-filter-button {
        font-size: 16px; /* Ajusta el tamaño del texto del botón para pantallas pequeñas */
        padding: 8px; /* Ajusta el padding del botón */
    }
}
