.container {
    display: flex;
    height: 100vh; /* La altura será igual a la altura de la ventana */
}

.right-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #fff; 
}

.crear-cuenta {
    max-width: 400px;
    width: 100%;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--color-bg);
}

.botonn {
    width: 100%;
    padding: 10px;
    margin-top: 20px; 
    background-color: var(--color-bg); /* Color del botón */
    color: #fff;
    border: none;
    cursor: pointer;
}

.botonn:hover {
    background-color: #a58d08;
}

.terms {
    margin-top: 15px; /* Reducido para menos espacio */
    display: flex;
    align-items: center;
}

.terms input {
    margin-right: 10px;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.confirmation-message {
    margin-top: 2px; /* Reducido para menos espacio */
    font-size: 14px;
    max-width: 350px;
    color: #979797;
    text-align: justify;
}

.hcaptcha {
    margin-top: 15px; /* Reducido para menos espacio */
    font-size: 12px;
    text-align: center;
    color: #979797;
}

.login-link {
    margin-top: 15px; /* Reducido para menos espacio */
    text-align: center;
}

.login-link a {
    color: #a58d08;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}

@media (min-width: 769px) {
    .logo-cuenta-negro{
        display: none;
    }

    .logo_cuenta {
        position: absolute;
        top: 40px;
        left: 30px;
        width: 200px; /* Tamaño del logo */
    }

    .left-section {
        flex: 0.5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url('/img/Background.png'); /* Ruta de la imagen de fondo */
        background-position: center;
        position: relative;
    }
    .center-image {
        width: 600px; /* Ajusta el tamaño de la imagen centrada según prefieras */
        max-width: 80%;
        height: auto;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 768px) {
    .logo-cuenta-negro {
        display: block;
        position: absolute;
        top: 40px;
        left: 30px;
        width: 200px;
    }

    .container .left-section {
        display:none;
    }

    /* Oculta el logo blanco, la sección izquierda y la imagen centrada */
    .center-image, .logo_cuenta{ 
        display: none;
    }
    /* Ajustes para la sección derecha en móvil */
    .right-section {
        flex: 1;
        padding: 16px;
    }
}

