.container {
    width: 100%;
    box-sizing: border-box;/* Asegura que el modal se posicione correctamente dentro del contenedor */
}

.right-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff; 
}

.crear-cuenta {
    max-width: 400px;
    width: 100%;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--color-bg);
}

.botonn {
    width: 100%;
    padding: 10px;
    margin-top: 20px; 
    background-color: var(--color-bg); /* Color del botón */
    color: #fff;
    border: none;
    cursor: pointer;
}

.botonn:hover {
    background-color: #a58d08;
}

.terms {
    margin-top: 15px; /* Reducido para menos espacio */
    display: flex;
    align-items: center;
}

.terms input {
    margin-right: 10px;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.confirmation-message {
    margin-top: 2px; /* Reducido para menos espacio */
    font-size: 14px;
    max-width: 350px;
    color: #979797;
    text-align: justify;
}

.hcaptcha {
    margin-top: 15px; /* Reducido para menos espacio */
    font-size: 12px;
    text-align: center;
    color: #979797;
}

.login-link {
    margin-top: 15px; /* Reducido para menos espacio */
    text-align: center;
}

.login-link a {
    color: #a58d08;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}

.terminos-container {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 90%; /* Ajusta el ancho según sea necesario */
    max-width: 800px; /* Opcional: establece un ancho máximo */
    height: 80%; /* Ajusta la altura según sea necesario */
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    z-index: 1000; /* Asegúrate de que el modal esté por encima del contenido */
    overflow-y: auto; /* Permite el desplazamiento si el contenido es largo */
}
/* Estilo para el contenido del modal */
.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    width: 100%;
    height: 60%;
    font-size: 16px;
    overflow-y: auto;
    box-sizing: border-box;/* Asegura que el contenido del modal esté por encima del overlay */
}

/* Botones del modal */
.modal-buttons {
    background-color: #282828;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin: auto;
    display: block;
    text-align: center;
    border-radius: 5px;
    margin-top: 20px;
}

.modal-close,
.modal-accept {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.modal-close {
    background-color: #ccc;
}

.modal-accept {
    background-color: #a58d08;
    color: #fff;
}

.modal-accept:hover {
    background-color: #8e7607;
}

/* Estilo para el enlace de los términos */
.terms-link {
    color: #a58d08;
    text-decoration: underline;
    cursor: pointer;
}

.terms-link:hover {
    text-decoration: none;
}

@media (min-width: 769px) {
    .logo-cuenta-negro{
        display: none;
    }

    .logo_cuenta {
        position: absolute;
        top: 40px;
        left: 30px;
        width: 200px; /* Tamaño del logo */
    }

    .left-section {
        flex: 0.5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url('/img/Background.png'); /* Ruta de la imagen de fondo */
        background-position: center;
        position: relative;
    }
    .center-image {
        width: 600px; /* Ajusta el tamaño de la imagen centrada según prefieras */
        max-width: 80%;
        height: auto;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 768px) {
    .logo-cuenta-negro {
        display: block;
        position: absolute;
        top: 40px;
        left: 30px;
        width: 200px;
    }

    .container .left-section {
        display:none;
    }

    /* Oculta el logo blanco, la sección izquierda y la imagen centrada */
    .center-image, .logo_cuenta{ 
        display: none;
    }
    /* Ajustes para la sección derecha en móvil */
    .right-section {
        flex: 1;
        padding: 16px;
    }
}

@media (max-width: 480px) {
    .container {
        flex-direction: column; /* Cambia la dirección del flex para apilar las secciones verticalmente */
    }

    .right-section {
        padding: 10px; /* Ajusta el padding para más espacio en pantallas pequeñas */
    }

    .crear-cuenta {
        max-width: 100%; /* Asegura que el contenedor del formulario ocupe todo el ancho disponible */
        padding: 0 10px; /* Añade padding a los lados para evitar que el contenido toque los bordes */
    }

    .logo_cuenta, .center-image {
        display: none; /* Oculta el logo y la imagen centrada en pantallas muy pequeñas */
    }

    .logo-cuenta-negro {
        width: 150px; /* Reduce el tamaño del logo para pantallas pequeñas */
    }

    .crear-cuenta h2 {
        margin-top: 70px;
        font-size: 30px; /* Ajusta el tamaño del texto del título */
    }

    .botonn {
        padding: 8px; /* Reduce el padding del botón para que sea más accesible en pantallas pequeñas */
        font-size: 14px; /* Ajusta el tamaño de la fuente del botón */
    }

    .terms {
        gap: 5px;
        flex-direction: row; /* Cambia la dirección del flex para apilar el checkbox y el texto verticalmente */
        align-items: flex-start; /* Alinea el contenido al inicio para mejor visualización */
    }

    .terms input {
        margin-right: 0; /* Elimina el margen derecho del checkbox */
        margin-bottom: 10px; /* Añade un margen inferior para separación */
    }

    .error-message, .confirmation-message, .hcaptcha, .login-link {
        font-size: 12px; /* Ajusta el tamaño de la fuente para pantallas pequeñas */
    }

    .confirmation-message {
        max-width: 100%; /* Asegura que el mensaje de confirmación ocupe todo el ancho disponible */
    }

    .login-link {
        font-size: 14px; /* Ajusta el tamaño de la fuente del enlace de login */
    }
}
